<div class="ve-flex-vh-center mt-2 no-print">
	{{#if isPrinterView}}
	<button type="button" class="btn btn-default btn-xs" id="btn-go-english">查看英文站</button>
	<button type="button" class="btn btn-default btn-xs mr-2" id="btn-book">Printer View</button>
	{{/if}}
	{{> "btngroupManager" }}
</div>
