<div id="contentwrapper" class="view-col{{#if styleContentWrapperAdditional}} {{styleContentWrapperAdditional}}{{/if}}">
	{{> "listSublistContainer" }}

	{{> "listStatsTabs" }}

	{{> "listWrpPagecontent" }}

	<div class="ve-text-center mt-2 no-print">
		<button type="button" class="btn btn-default btn-xs" id="btn-go-english">查看英文站</button>
		<button type="button" class="btn btn-default btn-xs" id="btn-book">书页查看</button>
		<button type="button" class="btn btn-default btn-xs" id="btn-show-table" title="View and Download Psionics in Tabular Format">表格查看</button>
		<button type="button" class="btn btn-xs btn-info" id="manage-brew">管理自制内容</button>
	</div>
</div>
