<div id="contentwrapper" class="view-col{{#if styleContentWrapperAdditional}} {{styleContentWrapperAdditional}}{{/if}}">
	{{> "listSublistContainer" }}

	{{> "listStatsTabs" }}

	{{> "listWrpPagecontent" }}

	<div class="ve-flex-vh-center mt-2 no-print mobile__ve-flex-col">
		<div class="ve-flex-v-center mr-2 mobile__mb-2 mobile__mr-0">
			<button type="button" class="btn btn-default btn-xs" id="btn-go-english">查看英文站</button>
			<button type="button" class="btn btn-default btn-xs mr-2" id="btn-book">书页查看</button>
			<button type="button" class="btn btn-default btn-xs" id="btn-show-table" title="View and Download Psionics in Tabular Format">表格查看</button>
		</div>

		{{> "btngroupManager" }}
	</div>
</div>
